.overview_bar_chart{
    width: 20px;
}
.green{
    color: green;
}
.red{
    color: red;
}
.date_select{
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #fff;
    box-shadow:  var(--box-shadow);
}